<nav class="navbar navbar-expand-lg">
<div class="collapse navbar-collapse">
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link" href="{% url 'web_index' %}">Главная</a>
</li>
<li class="nav-item">
РЖД
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'doroga_list' %}">Дороги</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'region_list' %}">Регионы</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'station_list' %}">Станции</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'region_listview' %}">Регионы(list.view)</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'station_listview' %}">Станции(list.view)</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'region_tableview' %}">Регионы(table.view)</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'station_tableview' %}">Станции(table.view)</a>
</li>
</ul>
</div>
</nav>
