{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light stiky-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{% static 'main/img/rzd_logo.jpg' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'doroga' %}">Дороги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'region' %}">Регионы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'station' %}">Станции</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Узлы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'map' %}">Карта</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
