{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Главная{% endblock %}Pro100uchet</title>
<!--link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"-->
<style type="text/css">
header h1 {
font-size: 40pt;
text-transform: uppercase;
text-align: center;
background: url("bg.jpg") left / auto 100% no-repeat;
}
nav {
font-size: 12pt;
width: 15Opx;
float: left;
}
nav a {
display: block;
margin: 10px 0px;
}
section {
margin-left: 170px;
}

</style>
</head>
<body>
<header>
<h2>РЖД Справочники</h2>
</header>
<nav>
<a href="{% url 'rzd_index' %}">Главная</a>

<a href="{% url 'doroga_list' %}">Дороги</a>
<a href="{% url 'region_list' %}">Регионы</a>
<a href="{% url 'station_list' %}">Станции</a>

<a href="{% url 'region_listview' %}">Регионы(list.view)</a>
<a href="{% url 'station_listview' %}">Станции(list.view)</a>

<a href="{% url 'region_tableview' %}">Регионы(table.view)</a>
<a href="{% url 'station_tableview' %}">Станции(table.view)</a>

</nav>
<section>
{% block content %}
{% endblock %}
</section>
</body>
</html>
